<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Gheetah Mobile Suite" parallel="tests" thread-count="2">
    
    <!-- Android Koşum Bloğu -->
    <test name="Android Automation Tests">
        <classes>
            <class name="{{ProjectName}}.runners.TestNGRunner"/>
        </classes>
    </test>

    <!-- iOS Koşum Bloğu -->
    <test name="iOS Automation Tests">
        <classes>
            <class name="{{ProjectName}}.runners.TestNGRunner"/>
        </classes>
    </test>

</suite>