<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Gheetah Desktop Suite">
    <test name="Windows Application Tests">
        <classes>
            <class name="{{ProjectName}}.runners.TestNGRunner"/>
        </classes>
    </test>
</suite>